body {
    background: black;
    padding-left: 10px;
}

a:link, a:visited {
    color: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(47, 51, 54);
    color: rgb(29,161,242);
    border-bottom: 4px solid; border-bottom-color: rgb(29,161,242);
}

a.wd-post:link, a.wd-post:visited {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 98%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    height:76px;
    color: white;
}

a.wd-post:hover, a.wd-post:active {
    background-color: rgb(47, 51, 54);
    color: rgb(29,161,242);
    border-bottom: 0px solid; border-bottom-color: rgb(29,161,242);

}


.wd-fonts{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 15px;
}

.wd-fonts-bold {
    font-weight: bold;
}

.wd-fonts-title{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 13px;
    color: rgb(110,118,125);
}

.wd-fonts-blue {
    color: rgb(29,161,242);
}

.wd-fonts-lightgray{
    color: rgb(110,118,125);
}

.wd-bg-color-black
{ background-color: black; }

.wd-bg-color-darkgray
{ background-color: rgb(47, 51, 54); }

.wd-bg-color-blue
{ background-color: rgb(29,161,242); }

.wd-bg-color-salmon
{ background-color: darksalmon }

.wd-bg-color-golden
{ background-color: darkgoldenrod}



.wd-fg-color-white
{color: white}

.wd-float-left {
    float: left;
}

.wd-float-top {
    float: top;
}

.wd-float-right {
    float: right;
    height: 100px;
}

.wd-float-done {
    clear: both;
}

.wd-dimension-landscape {
    width: 150px;
    height: 50px;
}

.wd-dimension-picture {
    width: 100px;
    height: 100px;
}

.wd-dimension-horizontal {
    width: 700px;
    height:40px;
}

.wd-dimension-page {
    width: 900px;
    height: 105px;
}

.wd-dimension-height {
    height:240px;
}

.wd-padded-fat {
    padding: 15px;
}

.wd-padded-thin {
    padding: 1px;
}


.wd-padded-left {
    padding-left: 50px;
}

.wd-padded-top-left {
    padding-top: 50px;
    padding-left: 50px;
}

.wd-padded-bottom-right {
    padding-bottom: 50px;
    padding-right: 50px;
}

.wd-padded-fat {
    padding: 50px;
}

.wd-padded-thin {
    padding: 2px;
}

.wd-padded-top {
   padding-top: 9px;
}


.wd-rounded-corners-all-around {
    border-radius: 40px;
}

.wd-thinrounded-corners-all-around {
    border-radius: 15px;
}

.wd-border-thin { border-width: 1px; }
.wd-border-solid { border-style: solid; }
.wd-border-dashed { border-style: dashed; }
.wd-border-yellow { border-color: #ffff07; }
.wd-border-red { border-color: #ff7070; }
.wd-border-blue { border-color: #7070ff; }
.wd-border-darkgray { border-color: rgb(47, 51, 54); }
.wd-border-solid-bottom {border-bottom: 4px solid; border-bottom-color: rgb(29,161,242);}
.wd-border-solid-top {border-top: 20px solid; border-top-color: rgb(47, 51, 54);}



.wd-margin-bottom {
    margin-bottom: 10px;
}

.wd-margin-right-left {
    margin-left: 50px;
    margin-right: 50px;
}

.wd-margin-left {
    margin-left: 12px;
}

.wd-margin-right {
    margin-right: 160px;
}

.wd-margin-all-around {
    margin: 16px;
}

.wd-pos-relative-nudge-right {
    position: relative;
    right: 125px;
    top: 2px;
}

.wd-pos-relative-nudge-left {
    position: relative;
    left: 55px;
}

.wd-pos-relative-nudge-top-right {
    position: relative;
    bottom: 65px;
}

.wd-pos-relative-nudge-bottom {
    position: relative;
    top: 5px;
}

.wd-pos-relative-nudge-from-top {
    position: relative;
    top: 3px;
    right: 2px;
    bottom: 2px;
}
.wd-pos-relative-nudge-top-right-type2 {
    position: relative;
    bottom: 55px;
}

.wd-pos-absolute-from-right {
    position: absolute;
    right: 15px;
}
